body {
  font-family: Helvetica,  sans-serif;
  width: 100%;
  color: #574e4e;
  background-color:  #F5F5F0;
  text-align: center;
  display: block;
  font-size: 1.5rem;
}

#title {
  font-size: 4rem;
  display: block;
  margin-block-start: 0.64em;
  margin-block-end: 0.64em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

#img-caption {
  margin-bottom: 20px;
}

h1, h3, #year, #tribute {
  color: rgb(44, 44, 44);
}


#image {
  max-width: 700px;
}

#img-div {
  background-color: #990000;
  padding: 10px;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

#img-caption {
  color: #F5F5F0;
  margin: 10px 0 5px 0;;
}

#headline {
  margin: 50px 0;
}

#timeline {
  max-width: 500px;
  text-align: left;
  margin: 0 auto 50px auto;
  line-height: 1.6;
}

#year {
  font-weight: bold;
}

li {
  margin: 15px 0;
}

#quote, #attributor {
  font-style: italic;
  max-width: 545px;
  text-align: left;
  margin: 0 auto 20px auto;
}

#tribute {
  margin-top: 50px;
  font-weight: bold;
}

#tribute-link {
  color: #5f5f8b;
}

@media screen and (max-width: 810px) {
  #image {
    max-width: 600px;
  }
}

@media screen and (max-width: 710px) {
  #image {
    max-width: 500px;
  }
}
@media screen and (max-width: 610px) {
  body {
    font-size: 1.25rem;
  }

  #title {
    font-size: 3rem;
    display: block;
    margin-block-start: 0.7em;
    margin-block-end: 0.6em;
  }

  #image {
    max-width: 400px;
  }

  #headline {
    margin: 35px 0;
  }

  #timeline {
    max-width: 400px;
    text-align: left;
    margin: 0 auto 20px auto;
    line-height: 1.3;
  }

  li {
    margin: 10px 0;
  }


  #quote, #attributor {
    max-width: 400px;
    margin: 35 auto;
  }

  #quote{
    margin-top: 35px;
  }
}

@media screen and (max-width: 510px) {
  body {
    font-size: 1.2rem;
  }

  #title {
    font-size: 3rem;
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
  }

  #image {
    max-width: 300px;
  }

  #headline {
    margin: 30px 0;
  }

  #timeline {
    max-width: 350px;
    text-align: left;
    margin: 0 auto 20px auto;
    line-height: 1.3;
  }

  #quote, #attributor {
    max-width: 350px;
    margin: 15px auto;
  }

  #quote{
    margin-top: 30px;
  }
}

@media screen and (max-width: 410px) {
  body {
    font-size: 1rem;
  }

  #title {
    font-size: 3rem;
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
  }

  #headline {
    margin: 30px 0;
  }

  #timeline {
    max-width: 300px;
    text-align: left;
    margin: 0 auto 20px auto;
    line-height: 1.3;
  }

  #image {
    max-width: 280px;
  }
}
